.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

.left{
    background-color: red;
}

.left-header{
    display: flex;
    justify-content: center;
}

.right{
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}